* {
  background-color: black;
  font: 1em sans-serif;
}

h2 {
  font: sans-serif;
  color: #24cfa6;
  font-size: 50px;
  text-align: center;
}

.name {
  font-size: 100px;
  color: white;
  text-align: center;
}

h1 {
  color: aquamarine;
  text-align: left;
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

ul {
  display: flex;
  list-style-type: circle;
}

ul li a {
  margin: 0 5px;
  padding: 0px 10px;
  text-decoration: none;
  border-radius: 50px;
  color: white;
}

header {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: right;
  border-bottom: 1px solid white;
}
