* {
  background-color: black;
  font: 1em sans-serif;
}

h2 {
  font: sans-serif;
  color: #24cfa6;
  font-size: 50px;
  text-align: center;
}

.name {
  font-size: 100px;
  color: white;
  text-align: center;
}

h1 {
  color: aquamarine;
  text-align: left;
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav {
  flex: content;
}
